TOKEN_SECRET="randomToken"
DATABASE_URL="postgresql://docker:docker@localhost:5432/tamojunto?schema=public"
GMAIL_PASS="GMAIL_PASS"
STRIPE_KEY="YOUR_STRIPE_SECRET"
STRIPE_WEBHOOK_SECRET= "YOUR_WEBHOOK_SECRET"